# avr-libcpp
#
# Copyright 2020-2024, Andrew Countryman <apcountryman@gmail.com> and the avr-libcpp
# contributors
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
# file except in compliance with the License. You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software distributed under
# the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied. See the License for the specific language governing
# permissions and limitations under the License.

# File: .clang-format
# Description: clang-format style configuration for the avr-libcpp repository.

Language: Cpp
Standard: c++17

BasedOnStyle: Google

DisableFormat: false

# general
BraceWrapping:
    AfterClass: false
    AfterControlStatement: Never
    AfterEnum: false
    AfterExternBlock: false
    AfterFunction: true
    AfterNamespace: false
    AfterStruct: false
    AfterUnion: false
    BeforeCatch: false
    BeforeElse: false
    IndentBraces: false
    SplitEmptyFunction: true
BreakBeforeBraces: Custom
ColumnLimit: 90
ContinuationIndentWidth: 4
DeriveLineEnding: false
IndentWidth: 4
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInParentheses: true
TabWidth: 4
UseCRLF: false
UseTab: Never

# preprocessor
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
ForEachMacros:
IncludeBlocks: Regroup
IncludeCategories:
IncludeIsMainRegex: ""
IncludeIsMainSourceRegex: ""
IndentPPDirectives: None
MacroBlockBegin: ""
MacroBlockEnd: ""
SortIncludes: true

# namespaces
CompactNamespaces: true
FixNamespaceComments: true
NamespaceIndentation: None
NamespaceMacros:

# templates
AlwaysBreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: false
SpacesInAngles: false

# classes/structs
AccessModifierOffset: -2
AllowAllConstructorInitializersOnNextLine: false
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
TypenameMacros:

# function declarations/definitions
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterReturnType: None
BinPackParameters: false
IndentWrappedFunctionNames: false

# function calls
AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: true
BinPackArguments: false

# declarations/expressions/statements
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakStringLiterals: true
Cpp11BracedListStyle: false
DerivePointerAlignment: false
IndentCaseLabels: true
IndentGotoLabels: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
PointerAlignment: Middle
RawStringFormats:
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: true
SpacesInSquareBrackets: true
StatementMacros:

# comments
AlignTrailingComments: true
CommentPragmas: ""
ReflowComments: true
SpacesBeforeTrailingComments: 1

# penalties
PenaltyBreakAssignment: 99
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyBreakComment: 99
PenaltyBreakFirstLessLess: 99
PenaltyBreakString: 0
PenaltyBreakTemplateDeclaration: 0
PenaltyExcessCharacter: 1
PenaltyReturnTypeOnItsOwnLine: 99
